<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Task list</title>
</head>
<body>
<p><a href="/tasks/new">Создать новую задачу</a></p>
<p><a href="/users/user_menu">Вернуться в меню</a></p>
<p>Выбрать задачу:</p>
<ul>
    <li th:each="task : ${tasks}">
        <a th:href="@{'/tasks/' + ${task.id}}" th:text="${task.title}"></a>
<!--        <a th:href="@{'/edit/product/' + ${product.id}}">Редактировать продукт</a>-->
    </li>
</ul>
</body>
</html>